/* Importation of google fonts link for custom font styling */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

/* Set generic styles to apply by default to all elements */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
    font-family: "Montserrat", sans-serif;
}

/* Use flex display on body elements to aid with site layout and responsiveness */
/* Cooking & food preparation related background image used to contribute to positive user experience */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url(../images/home1.jpg);
    /* background-size:cover; */
}
/* Setting heights & text-alignent of all button elements on site */
button {
    height:25px;
    text-align: justify;
    margin-top:25px;
}
/* Nav Bar Styling from lines 26 to 85 */
/* Credits: Skillthrive Navbar tutorial */
/* Header positioned as sticky to remain on screen when scrolling */
header {
    position: sticky;
    top: 0;
    width:100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px;
    background-color:#074A88;
    border-bottom: 1.5px solid white;
    border-top: 1.5px solid white;
}
/* Styling to make logo portion of header (in the h1) distinctive and recognisable to users*/
header h1 {
    width:200px;
    text-align: center;
    border:2px solid white;
    border-radius: 20%;
    color: white;
    background: black;
    font-weight: 400;
    font-size: 1.2rem;
    height: 2rem;
    padding-top: 1.5px;
}
/* Styling to align the clickable links within the nav bar to the right of the screen with flex for presentation purposes */
nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: black;
    color: white;
    height: 30px;
    border-bottom: 1.5px solid white;
}
/* Setting the fonts, sizes and colors of the text for the nav bar links */
.nav_links li, a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: white;
    text-decoration: none;
}
/* Removing the bullet points from the list items within the nav bar */
.nav_links {
    list-style: none;
}
/* Ensuring the nav bar links display consecutively using inline-block display setting */
.nav_links li {
    display:inline-block;
    padding: 0px 10px;
}
/* Setting gentle transition for the highlighting of a nav bar link when hovered over */
.nav_links li a {
    transition: all 0.3s ease 0s;
}
/* Setting the font color to change to aqua when navbar links are hovered over */
.nav_links li a:hover {
    color: aqua;
}

/* home page content from line 89 - line 149*/
/* Generic styling for class titlebox - applies to main heading under navbar on each page
- flex used to centrally align content*/
.titleBox {
    margin-top: 30px;
    display: flex;
    justify-content:space-evenly;
    align-items:center;
    width: 100%;
    height:5vh;
    text-align: center;
}
/* Generic styling for class mainlogo - applies to main heading under navbar on each page,
with varying content depending on page */
.mainlogo {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2.25rem;
    border:3px solid white;
    border-radius: 20%;
    color: white;
    background: black;
    min-width: 280px;
}
/* Setting up flex display properties, margin & padding for homepage container element */
.homeContainer {
    height:auto;
    display:flex;
    justify-content:space-evenly;
    align-items:flex-start;
    margin-top: 15px;
    padding-top: 25px;    
}
/* Box class applies to 3x main content boxes on home page - setting heights, widths, borders, colors & text-alignment */
.box {
    min-height: 400px;
    width: 340px;
    border: 2px solid white;
    margin: 5px;
    color: white;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7)
}
/* Class smallbox sits within class box and is used to house the unordered list 
that organises the home page detailed content in each larger box above*/
.smallbox {
    padding-top: 5px;
    padding-bottom: 5px;
    margin:5px;
}
/* Styling for the lists of detailed information on each homepage "about" box - 
ensuring list bullet points are removed*/
#homelist {
    list-style: none;
    list-style-type: none;
}
/* This class rule enlarges the text for selected sections of the home page detail boxes
to inform the user of the headings & structure of each box */
.homeEmphasis {
    font-size:150% ;
}
/* Adding padding to help aesthetic disply of individual list items within home page main boxes */
#homelist li {
    padding-top:7px;
    padding-bottom: 7px;
}

/* Media queries for adding screen-size/form-factor responsiveness to home page */
/* For screen sizes 700 pixels & below */
@media screen and (max-width:700px) {
    .homeContainer {
        font-size:90%;
    }
}
/* For screen sizes 600 pixels & below */
@media screen and (max-width:600px) {
    .homeContainer {
        font-size:80%;
    }
}
/* For screen sizes 450 pixels & below */
@media screen and (max-width:450px) {
    .homeContainer {
        font-size:70%;
    }
}
/* For screen sizes 400 pixels & below */
@media screen and (max-width:400px) {
    .homeContainer {
        font-size:65%;
    }
}

/* Next Step Buttons, used across first 3x pages of site, consitent styling with varying text content */
/* buttonBox is a container for the clickable buttonlogo element contents */
.buttonBox {
    margin-top: 40px;
    display: flex;
    justify-content:space-evenly;
    align-items:center;
    width: 100%;
    height:5vh;
    text-align: center;
}
/* buttonlogo is the actual visibile button on which the user can click to proceed to the next stage of the flow */
.buttonlogo {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2.25rem;
    border:3px solid white;
    border-radius: 20%;
    color: black;
    background: rgb(175, 172, 172);
    min-width: 280px;
}

/* Footer styling lines 204 - 289 - repeated & used on all site pages */
/* Setting background color, height, width, fonts, padding & borders for footer container element */
footer {
    background: #074A88;
    height:auto;
    width: 100%;
    font-family: inherit;
    padding-top: 10px;
    color: #fff;
    margin-top: auto;    
    border-top: 1.5px solid white;
}
/* Setting up display rules for footer content - to ensure proper alignment of social media Icons & other content */
.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
/* Styling header/CalorieCulator logo portion of footer */
.footer-content h4{
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2.25rem;
    border:3px solid white;
    border-radius: 20%;
    color: white;
    background: black;
    width: 280px;
}
/* Styling for "connect with us" paragraph */
.footer-content p {
    max-width: 500px;
    margin: 1px auto;
    line-height: 28px;
    font-size: 14px;
}
/* Applying proper styling to social media icons container within footer */
.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    width: 75vw;
    margin: 0.5rem 0 1.0rem 0;
}
/* Setting appropriate margins for social media icon list items */
.socials li {
    margin: 0 10px;
}
/* Styling color of Social Media anchors to white */
.socials a {
    text-decoration: none;
    color: #fff;
}
/* Setting aqua highlight transition timing for social media icons when hovered */
.socials a i {
    font-size: 1.5rem;
    transition: color .4s ease;
}
/* Setting aqua highlight color for social media icons when hovered */
.socials a:hover i {
    color: aqua;
}
/* Styling bottom line of footer containing copyright section - black background with white text & border */
.footer-bottom {
    background: black;
    width: 100%;
    padding: 15px 0 15px 0;
    text-align: center;
    border-bottom: 1.5px solid white;
    border-top: 1.5px solid white;
    display:flex;
    justify-content: space-around;
}
/* Styling font-size & word-spacing for copyright messages with first letters capitalised as standard */
.footer-bottom p {
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
/* Calorie Input page styling from lines 287 - 345 */
/* setting flex display properties for overall form container main element within which the PDCT data entry occurs */
.formcontainer {
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height:60vh;
    color: white;
}
/* Formatting & styling PDCT form header to be centralised with appropriate padding */
.formcontainer h3 {
    padding-bottom: 35px;
    text-align: center;
}
/* Styling firstform id - this is the id of the parent data entry form element on calories.html 
With black opaque background to ensure foreground information is never distracted by background image*/
#firstform {
    border: 1.5px solid white;
    padding:25px;
    background-color: rgba(0, 0, 0, 0.5)
}
/* Each form input is wrapped in a div - this styling will keep a consistent height for the div spacing */
#firstform div {
    height:50px;
}
/* The 3x text entry fields in the form have class "formdata" - this styling aligns them within the 
parent container using flex */
.formdata {
    display:flex;
    justify-content: space-between;    
}
/* Setting the heights & widths of the formdata inputs for text data entry */
.formdata input {
    height:25px;
    width:75px;
}
/* Styling container element for "calculate my pdct" button - using flex to center display */
.button-container {
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 20px;
}
/* Setting styling for PDCT Display Box to display user's PDCT after calculation*/
#pdct-section {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2.25rem;
    border:3px solid white;
    border-radius: 20%;
    color: white;
    background: black;
    width: 280px;
}
/* Styling for Macros.html Page from lines 346 - 445*/
/* Setting Display Properties for overall wrapper element contaings macros.html child elements */
#macro-container {
    display: flex;
    justify-content: space-between;
    color:#fff;
    margin:10px;
    padding:10px;
}
/* Setting flex display property to allow styling of child elements for importation of PDCT from local storage */
#macro-step2 {
    display: flex;
    align-items:center;
}
/* Styling for id macros-box - this triggers javascript to import  the user's PDCT from Local Storage when they click */
#macros-box {
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items:center;
    width: 100%;
    height:10vh;
    text-align: center;
}
/* Styling for display box to hold the user's PDCT when import button above has been clicked */
#macros-logo {
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 2.25rem;
    border:3px solid white;
    border-radius: 20%;
    color: white;
    background: black;
    min-width: 280px;
    margin-left: 10px;
    margin-bottom: 40px;
}
/* Container styling & alignment for the second main content section of macros.html */
#choose-macro {
    height: 600px;
    width:20em;
    margin-left: 10px;
}

.styled-table {
    border-collapse:collapse;
    margin-bottom: 20px;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 300px;
    /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.15); */
}

.styled-table thead tr {
    background-color: rgba(0, 0, 0, 0.7);
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 4px 10px;
}

.styled-table tbody tr {
    background-color: #074A88;
}

.styled-table tbody tr:last-of-type {
    background-color: rgba(0, 0, 0, 0.7);
}

styled-table tbody tr.active-row {
    font-weight: bold;
    color: #074A88;
}

#macro-step3 {
    display: flex;
    flex-direction: column;
    justify-content:center;
    margin-right: 10px;
}
#yourmacros {
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
    width:300px;
    
}
/* Setting margins for calculation button on Macros.html page */
#calculate-macros {
    margin-top:5px;
}

.hide {
    display: none;
}

/* Meal Generator Page */
#page3Container {
    /* border: 1px solid white; */
    display:flex;
    align-items: center;
    justify-content: space-around;
    color: #fff;
    margin:2px;
    padding:5px;
}

#foodListContainer {
    /* border: 1px solid white; */
    display:flex;
    flex-direction: column;
    padding:3px;
}

.food-groups {
    border: 1px solid white;
    margin:6px;
    padding-top: 5px;
    padding-bottom:6px;
    width:210px;
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7)
}

.food-headings {
    padding-bottom: 5px;
}

.food-headings, p {
    padding-left: 5px;
    text-align: left;
}

.meal-box {
    /* border: 1px solid white;*/
    background-color: rgba(0, 0, 0, 0.7); 
    width: 399px;
    /* margin: 10px;
    padding-top:10px;
    padding-left:10px; */
}

.meal-table {
    border-collapse:separate;
    border-top: #fff;
    margin-bottom: 10px;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.15); */
}

.meal-table thead tr {
    background-color: rgba(0, 0, 0, 0.7);
    color: #ffffff;
    text-align: left;
}

.meal-table th,
.meal-table td {
    padding: 4px 10px;
    border:1px solid #fff;
}

/* .meal-table tbody tr {
    border-bottom: 1px solid #dddddd;
} */

.meal-table tbody tr {
    background-color: #074A88;
}

.meal-table tbody tr:last-of-type {
    background-color: rgba(0, 0, 0, 0.7);
}

meal-table tbody tr.active-row {
    font-weight: bold;
    color: #074A88;
}

legend {
    text-align:left;
}