@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
    font-family: "Montserrat", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url(../images/home1.jpg);
    background-size:cover;
}

/* Nav Bar Styling */
/* Credits: Skillthrive Navbar tutorial */

header {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px;
    background-color:#074A88;
    border-bottom: 1.5px solid white;
    border-top: 1.5px solid white;
}

header div {
    width:200px;
    text-align: center;
    border:2px solid white;
    border-radius: 20%;
    color: white;
    background: black;
    font-weight: 400;
    font-size: 1.2rem;
    height: 2rem;
    padding-top: 1.5px;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: black;
    color: white;
    height: 30px;
    border-bottom: 1.5px solid white;
}

.nav_links li, a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: white;
    text-decoration: none;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display:inline-block;
    padding: 0px 10px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: aqua;
}

/* home page content*/

.titleBox {
    margin-top: 50px;
    display: flex;
    justify-content:space-evenly;
    align-items:center;
    width: 100%;
    height:5vh;
    /* border: 1px solid white; */
    text-align: center;
}

.macros-box {
    /* margin-top: 50px; */
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items:center;
    width: 100%;
    height:10vh;
    /* border: 1px solid white; */
    text-align: center;
}

#mainlogo {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2.25rem;
    border:3px solid white;
    border-radius: 20%;
    color: white;
    background: black;
    min-width: 280px;
}

#macros-logo {
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 2.25rem;
    border:3px solid white;
    border-radius: 20%;
    color: white;
    background: black;
    min-width: 280px;
    margin-left: 10px;
    /* margin-top: 20px; */
    margin-bottom: 40px;
}

#macro-step2 {
    display: flex;
    align-items:center;
}

.homeContainer {
    height:auto;
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    margin-top: 15px;
    padding-top: 25px;
}

.box {
    height: 400px;
    width: 340px;
    border: 2px solid white;
    margin: 5px;
    color: white;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7)
}

.smallbox {
    /* border: 1px solid white; */
    padding-top: 5px;
    padding-bottom: 5px;
    margin:5px;
}

#homelist {
    list-style: none;
    list-style-type: none;
}

.homeEmphasis {
    font-size:150% ;
}

#homelist li {
    padding-top:7px;
    padding-bottom: 7px;
}

/* footer */

footer {
    background: #074A88;
    height:auto;
    width: 100vw;
    font-family: inherit;
    padding-top: 10px;
    color: #fff;
    /* margin-top: auto; */
    position: absolute;
    bottom: 0;
    border-top: 1.5px solid white;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3{
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2.25rem;
    border:3px solid white;
    border-radius: 20%;
    color: white;
    background: black;
    width: 280px;

}

.footer-content p {
    max-width: 500px;
    margin: 1px auto;
    line-height: 28px;
    font-size: 14px;
}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    width: 75vw;
    margin: 0.5rem 0 1.0rem 0;
}

.socials li {
    margin: 0 10px;
}
.socials a {
    text-decoration: none;
    color: #fff;
}

.socials a i {
    font-size: 1.5rem;
    transition: color .4s ease;
}

.socials a:hover i {
    color: aqua;
}

.footer-bottom {
    background: black;
    width: 100vw;
    padding: 15px 0 15px 0;
    text-align: center;
    border-bottom: 1.5px solid white;
    border-top: 1.5px solid white;
}

.footer-bottom p {
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

/* Calorie Input Form */

.formcontainer {
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height:60vh;
    color: white;
}

.formcontainer h2 {
    padding-bottom: 35px;
}

#firstform {
    border: 1.5px solid white;
    padding:25px;
    background-color: rgba(0, 0, 0, 0.5)
}

#firstform div {
    height:50px;
}

.formdata {
    /* border: 1.5px solid white; */
    display:flex;
    justify-content: space-between;
    
}

.formdata input {
    height:25px;
    width:75px;
}

.activity {
    height:25px;
    display:flex;
    justify-content: right;
}

#activitycontainer{
    /* border: 1.5px solid white; */
    display:flex;
    justify-content: space-between;
    height:25px;
}

#button-container {
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 20px;
}

button {
    height:25px;
    text-align: justify;
    margin-top:25px;
}

#calculate-macros {
    margin-top:5px;
}


/* PDCT Display Box */

#pdct-section {
    /* border: 1.5px solid white; */
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2.25rem;
    border:3px solid white;
    border-radius: 20%;
    color: white;
    background: black;
    width: 280px;
}

/* Macros Page */
#macro-container {
    /* border: 1.5px solid white; */
    display: flex;
    justify-content: space-between;
    color:#fff;
    margin:10px;
    padding:10px;
}

#choose-macro {
   height: 600px;
    /* border: 1.5px solid white; */
    width:20em;
    margin-left: 10px;
    /* height:30em; */
}

.macro {
    /* border: 1.5px solid white; */
    
}

#macro-step3 {
    display: flex;
    flex-direction: column;
    justify-content:center;
    margin-right: 10px;
}

.styled-table {
    border-collapse:collapse;
    margin-bottom: 20px;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 300px;
    /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.15); */
}

.styled-table thead tr {
    background-color: rgba(0, 0, 0, 0.7);
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 4px 10px;
}

/* .styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
} */

.styled-table tbody tr {
    background-color: #074A88;
}

.styled-table tbody tr:last-of-type {
    background-color: rgba(0, 0, 0, 0.7);
}


styled-table tbody tr.active-row {
    font-weight: bold;
    color: #074A88;
}

#selection-container {
    border: 1px solid white;
}

