@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #8EB19D;
}

/* Nav Bar Styling */
/* Credits: Skillthrive Navbar tutorial */

li, a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #383406;
    text-decoration: none;
}

header {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 2%;
}

.logo {
    cursor: pointer;
    width: 140px;
    height:auto;
    margin-right: auto;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display:inline-block;
    padding: 0px 10px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: #0295CA;
}

/* Footer Styling */
/* Credits: Crazy Coders Club Footer tutorial */

footer {
    background-color:#3b3b3b3b;
    padding: 40px 80px;
}

footer p {
    color: rgb(0, 0, 0);
    text-align:center;
    margin-top: 20px;
}

.social-links li {
    list-style: none;
    display: inline-block;
    margin-left: 20px;
    
}

.social-links li a {
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    min-width: 40px;
    height: 40px;
}

.social-links li a:link, 
.social-links li a:visited {
    text-decoration: none;
    transition: all 0.5s;
}

.social-links li a:active, 
.social-links li a:hover {
    background-color: #ececec;
    border-radius: 50%;
} 