* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #fff;    
}


.parent {
    height:100vh;
    border: 20px solid rgb(0, 0, 0);
    display:flex;
    text-align: center;
}

.child1 {
    width: 200px;
    height: 200px;
    background: rgb(39,61,134);
    align-self: center ;
}

.child2 {
    width: 200px;
    height: 200px;
    background: rgb(172,57,53);
    
}

.child3 {
    width: 200px;
    height: 200px;
    background: rgb(149,43,140);
    align-self:flex-end;
}

